global
  log stdout format raw local0

defaults
  mode http
  timeout connect 5s
  timeout client  30s
  timeout server  30s

resolvers docker
  nameserver dns 127.0.0.11:53
  resolve_retries 3
  timeout resolve 1s
  timeout retry   1s
  hold valid      10s

frontend openbao
  bind :8200
  default_backend openbao_nodes

backend openbao_nodes
  option httpchk
  http-check send meth GET uri /v1/sys/health ver HTTP/1.1 hdr Host openbao
  http-check expect status 200
  server openbao-1 openbao-1:8200 check resolvers docker init-addr last,libc,none inter 1s fall 2 rise 2
  server openbao-2 openbao-2:8200 check resolvers docker init-addr last,libc,none inter 1s fall 2 rise 2
  server openbao-3 openbao-3:8200 check resolvers docker init-addr last,libc,none inter 1s fall 2 rise 2
